#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #127B93;
  background-image: url('../assets/images/banner.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 17%;
}

body{
  font-family: 'comfortaa';
}
